<!DOCTYPE html> 
<html lang="en">
   

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="app.component.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
        <script src="https://kit.fontawesome.com/b5cab7244b.js" crossorigin="anonymous"></script>
    </head>
    <body>
    
    <div  class="wrapper">
    <header>
        <nav class="navbar">
        <div class="brand">
            
            <h3>B <span>B  </span><img src="./assets/banner-ok-argentina-programa.jpg" alt="">  "Argentina Programa"
                #YoProgramo</h3>
        </div>

        <ul class="menu" id="menu">
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#about-me">About me</a></li>
            <li><a href="#portfolio">Experience</a></li>
            <li><a href="#contact">My Skills</a></li>
        </ul>

        <div class="sotial-networks">
            <a href="https://instagram.com/baubagnarol?igshid=YmMyMTA2M2Y=" target="_blank" >
          <i class="fab fa-instagram"></i>
        </a>
          <a href="https://www.linkedin.com/in/bautista-bagnarol-3627391ab/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/BautistaBag" target="_blank">
            <i class="fa-brands fa-github"></i>
        
        </a>


        </div>

        <button>Login</button>
        
        <div class="toggle-menu">
        <i class="fas fa-bars" id="toggle_open"></i>
        <i class="fas fa-close" id="toggle_close"></i>
        </div>
    </nav>
    </header>


    <main id="home" class="main">
        <div class="info-content">
          <h1>I'm <span>Bautista </span>Bagnarol</h1>
         
        </div>
        <img src="./assets/DSC_0522.JPG">
        
        </main>
    </div>

       <div class="about">
        <img src="./assets/pic-smile.JPG" alt="foto about me">
            
        <div id="about-me" class="about-info">
            <h2>About me</h2>
            <div class="divider"></div>
            <p>Bautista Bagnarol Full Stack Developer Jr</p>
          <p class="info-content__p">I am an information systems engineering student, interested in web development, always seeking to improve my skills and continue growing professionally in order to make valuable contributions at the working group I am part of.I have taken web development courses on the udemy platform.</p>  

        </div>
    </div>


<div  id="portfolio" class="portfolio">
<div class="portfolio-headings">
    <h2>Experience</h2>
    <div class="divider"></div>
     <p>Desarrollador PHP en Editorial Rubinzal Culzoni  <img src="./assets/logo-rubinzal.jpg" alt="" style="width: 5%; border-radius: 5em;"></p>
    
     <p> Trabajé en los sitios web de la empresa utilizando Zend Studio (5.5.0).</p>
        <p> en la creación y el manejo de base de datos con MySQL (phpMyadmin).</p>
        
        <p>Trabajé con procedimientos de carga con SQL Manager 2007 for MySQL.</p>  
        <p>Realice curso de FrontEnd Web Developer en Udemy</p>
</div>

    

        <div>
            <h2 style="font-size: 2.5em;">My Skills</h2>
            <div class="divider"></div>
            <div id="contact"class="contact-section">

                <div class="borde-porcentaje">
                    <div class="porcentajes" style="--porcentaje:80">
                
                    <svg style="width: 150;height: 150;">
                    <circle pathlength="100"/>
                    <circle pathlength="100"/>
                    </svg>
                    <span>80%</span>
                    <p>Html</p>
                    </div>

                </div>
                    <div class="porcentajes" style="--porcentaje:60">
                
                        <svg style="width: 150;height: 150;">
                        <circle pathlength="100"/>
                        <circle pathlength="100"/>
                        </svg>
                        <span>60%</span>
                        <p>Css</p>
                    </div>

                    <div class="porcentajes" style="--porcentaje:30">
                
                        <svg style="width: 150;height: 150;">
                        <circle pathlength="100"/>
                        <circle pathlength="100"/>
                        </svg>
                        <span>30%</span>
                        <p>JavaScript</p>
                    </div>

                    <div class="porcentajes" style="--porcentaje:70">
                
                        <svg style="width: 150;height: 150;">
                        <circle pathlength="100"/>
                        <circle pathlength="100"/>
                        </svg>
                        <span>70%</span>
                        <p>C++</p>
                    </div>

                    <div class="porcentajes" style="--porcentaje:40">
                
                        <svg style="width: 150;height: 150;">
                        <circle pathlength="100"/>
                        <circle pathlength="100"/>
                        </svg>
                        <span>40%</span>
                        <p>Java</p>
                    </div>

                    <div class="porcentajes" style="--porcentaje:75">
                
                        <svg style="width: 150;height: 150;">
                        <circle pathlength="100"/>
                        <circle pathlength="100"/>
                        </svg>
                        <span>75%</span>
                        <p>PHP</p>
                    </div>

            </div>
        </div>
        
        <footer class="footer"> 
            <div class="footer-content">
             <h2>My proyect</h2>
             <div class="divider"></div>
          
             <p style="text-align: left;">Aplicación SAP (Sistema de Gestión de Personas) con HTML, CSS y JavaScript que aprendí a desarrollar en un curso de udemy
                <a href="https://github.com/BautistaBag/Lista-de-Personas" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://bautistabag.github.io/Lista-de-Personas/" target="_blank">
                    <i class="fa-solid fa-globe"></i>  
                </a></p>

              

       
        </div>
        
          </footer>

        
    </div>



<script src="scripts.js"></script>
</body>
</html>